@model dynamic
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/threads.css">
    <script src="/js/forum.js"></script>

    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/bttBtn.css">
    <link rel="stylesheet" href="/css/pingu.css">
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
    <style>
        .column {
            float: left;
            padding: 10px;
        }

        .column.left.side
        {
            width: 80%
        }
        .column.right.side
        {
            width: 20%
        }
    </style>
    <div class="gif-container">
        <div class="gif-text">Use me to translate!</div>
        <img src="/images/penguin.gif" style="max-width:50%; object-fit:contain; height: 10em;" alt="Your GIF">
    </div>
    <div id="google_translate_element"></div><br /><br />
    <h2>List of Events</h2>
    <div class="column left side" style="height:100%; overflow:hidden;">
        <div class="container" style="height:700px; overflow-y:auto;">
            <div class="row">
                @foreach (Event events in Model.Event)
                {
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="card-title">
                                    <a asp-controller="Event" asp-action="DetailedIndex" asp-route-eventId="@events.EventID" class="card-title"><h5>@events.EventName</h5></a>
                                </p>
                                <p class="card-text">
                                    <img src="@Url.Content(events.EventPhoto)" alt="Event Photo" height="200" width="100%">
                                </p>
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class= "column right side">
        <table>
            <tr>
                <td>
                    <!-- Rest of the editing components-->
                    @using (Html.BeginForm("NewURL", "Videocall", FormMethod.Post, new { onsubmit = "return handleSubmit();" }))  
                    {
                        <table>
                            <tr>
                                <td>
                                    <label for="title">Title</label>
                                    <input type="text" name="Title" id="Title" />

                                    <label for="url"> MeetingURL</label>
                                    <input type="text" id="URL" name="URL" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit"></td>
                            </tr>
                        </table>
                    }
                </td>
            </tr>
        </table>
        <br /><br />
        <h4>Recent Meetings</h4>
        @{
            //get todays date
            DateTime currentDate = DateTime.Today;
        }
        <div class="container">
            <div class="col" style="width:30rem; height:500px; overflow-y:auto;">
                @foreach (Videocall vc in Model.Videocall)
                {
                    //will only display urls that were created today
                    var newDate = Convert.ToDateTime(@vc.DateCreated).AddDays(1);
                    if (newDate > currentDate)
                    {
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title"><h5>@vc.Title</h5></p>
                                    <p class="card-text">
                                        <a href="@vc.URL" target="_blank">@vc.URL</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
    
</body>
<script src="/js/penguinspeech.js"></script>
<script>
    function handleSubmit() {
        console.info('handleSubmit called');
        document.getElementById('title').value = document.getElementById('Title').value;
        document.getElementById('url').value = document.getElementById('URL').value;
    };
</script>
