@model List<EldenGuide.Models.Guide>

@{
    ViewData["Title"] = "StaffGuideList";
}

<html>
    <head>
    </head>
    <body>
        <br />
        <br />
        <h3>Filter by Category</h3>
        <button style="width:7rem; height:3rem;">@Html.ActionLink("Banking", "StaffGuideList", "Guide", new { cat = "Banking" })</button>
        <button style="width:7rem; height:3rem;">@Html.ActionLink("Health", "StaffGuideList", "Guide", new { cat = "Health" })</button>
        <button style="width:11rem; height:3rem;">@Html.ActionLink("Telecommunications", "StaffGuideList", "Guide", new { cat = "Telecommunications" })</button>
        <button style="width:9rem; height:3rem;">@Html.ActionLink("Food Delivery", "StaffGuideList", "Guide", new { cat = "Food Delivery" })</button>
        <button style="width:7rem; height:3rem;">@Html.ActionLink("Transport", "StaffGuideList", "Guide", new { cat = "Transport" })</button>
    <br />
    <br />
    <br />
    <br />
    <h4>
        List of Apps         <button class="btn btn-primary btn-xs" style="font-size:1.2rem;" onclick="location.href='@Url.Action("WriteNewGuide", "Guide")'">Create</button>
    </h4>
            <ul>
                    @foreach (Guide guide in Model)
                    {
                            <li style="font-size:1.2rem;">@Html.ActionLink(guide.AppName, "EditGuide", "Guide", new { guideId = guide.GuideId })</li>
                    }

           </ul>
        
    </body>
</html>
